.board {
    position: absolute;
    top: 200px;
    left: 200px;
}

.debug {
    z-index: 10000;
    font-size: 50px;
    -webkit-text-stroke: 3px black;
    position: absolute;
}

.debug-small {
    position: absolute;
    z-index: 10000;
    font-size: 30px;
    -webkit-text-stroke: 3px black;
}

body {
    background-image: url("./assets/board/BG_water.jpg");
    background-repeat: repeat;
}